<div class="main-content" dir="rtl" trbidi="on">
  <div class="post-metadata">
    <div class="post-cover">
      <img src="{{{postCoverURL}}}" />
    </div>
    <div class="post-description">
      {{{postDescription}}}
    </div>
  </div>
  <div class="post-body">
    <div class="anime-presentation">
      <div class="anime-card">
        <div class="anime-cover">
          <a href="{{{myanimelistLink}}}" imageanchor="1" target="_newtab">
            <img alt="{{{animeTitle}}} Cover" border="0" title="{{{animeTitle}}}" src="{{{animeCoverURL}}}" />
          </a>
        </div>
        <dl class="anime-details">
          {{#each animeDetails}}
          <div class="anime-detail">
            <dt class="detail-key">{{{key}}}:</dt><dd class="detail-value"><bdo> {{{value}}}</bdo></dd>
          </div>
          {{/each}}
        </dl>
      </div>
      <div class="anime-story">
          <blockquote>
            {{{animeStory}}}
          </blockquote>
      </div>
      <div class="anime-episodes">
        <div class="navigation-menu">
          <div class="previous-episode navigation-button" onclick="changeEpisode(-1)">
            <span>&lsaquo;السابقة</span>
          </div>
          <div class="episodes-list">
            <div class="dropdown-button" onclick="toggleEpisodesList()">
              <span>قائمة الحلقات</span>
            </div>
            <div class="dropdown-menu" id="episodes-keys" onclick="toggleEpisodesList()">
              {{#each episodesLinks}}
              <span onclick="currentEpisode({{{key}}})">الحلقة {{{key}}}</span>
              {{/each}}
            </div>
          </div>
          <div class="next-episode navigation-button" onclick="changeEpisode(1)">
              <span>التالية&rsaquo;</span>
          </div>
        </div>
        <div id="episodes-container">
          {{#each episodesLinks}}
          <div class="fade">
            <div class="caption">الحلقة {{{key}}}</div>
            <iframe allowfullscreen="true" class="episode" frameborder="0" src="https://embed.mystream.to/{{{streamingLink01}}}"></iframe>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="download-section">
      <div class="section-title">
        <h2>روابط تحميل الحلقات</h2>
      </div>
      <div class="direct-download">
        <ul class="episodes-list">
          {{#each episodesLinks}}
          <li class="episode-link"><a href="{{{downloadLink01}}}" target="_newtab">{{{key}}}</a></li>
          {{/each}}
        </ul>
      </div>
      {{#if subtitlesLink}}
      <div class="get-subtitles">
          <b>ملفات الترجمة: <a href="{{{subtitlesLink}}}" target="_newtab">هنا</a></b>
      </div>
      {{/if}}
    </div>
  </div>
</div>
